<div class='header'>
  <div class= "jumbotron">
    <div class="container">
      <h1>Ghost Guy's Ghoul Guide</h1>
    </div>
  </div>
  <div id="nav">
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'contact'}}Contact Us{{/link-to}}
    {{#link-to 'about'}}About Us{{/link-to}}
  </div>
</div>
<div class= "container">
  {{outlet}}
<div class="row">
  </div>
</div>
