<div class= "jumbotron">
  <div class="container">
    <h1>Ghost Guy's Ghoul Guide</h1>
  </div>
</div>
<div class= "container">
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'index'}}Home{{/link-to}} -
    {{#link-to 'contact'}}Contact Us{{/link-to}} -
    {{#link-to 'about'}}About US{{/link-to}}
  </footer>
</div>
