<div class='contact'>
  <h3><em>We'll contact you.</em></h3>
  <img src="https://thumbs-prod.si-cdn.com/POxOFgscI3DF9yUE_tao-x_BSSQ=/fit-in/1072x0/https://public-media.smithsonianmag.com/filer/ouija-board-historical-gallery.png" alt="contact-photo" class="contact-pic" />
</div>
