{{new-post savePost="savePost"}}
<div id="posts">
  {{#each model as |post|}}
  <div class="well">
    {{post-tile post=post updatePost='updatePost' destroyPost='destroyPost'}}
    {{new-comment saveComment="saveComment" post=post}}
  </div>
  {{/each}}
</div>
