<h2>More information about this ghoul {{model.title}}</h2>
{{post-detail post=model destroyPost="destroyPost"}}
{{update-post post=model updatePost="updatePost"}}
{{new-comment saveComment='saveComment' post=model}}
