<h2>More information about this ghoul {{model.title}}</h2>
{{update-post post=model updatePost="updatePost"}}
{{post-detail post=model destroyPost="destroyPost" destroyComment="destroyComment" updateComment='updateComment'}}
{{new-comment saveComment='saveComment' post=model}}
